@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;

}

p {

    font-size: .8em;
    line-height: 1.6em;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.container,
.selamat,
.tentang,
.perangkat,
.sejarah,
.temukan,
.F,
.selamat-konten,
.tentang-konten,
.perangkat-konten,
.sejarah-konten,
.temukan-konten {
    text-align: center;
    padding: .8em 1.2em;
}

.hide-mobile {
    display: none;

}

header {
    display: flex;
    justify-content: space-between;
    width: fit-content;
}

.menu {
    width: 30px;
}

h1 {
    position: relative;
}

.container {
    width: 100%;
    position: relative;
    background: #02475E;
    float: left;
    margin: 0 0 1em 0;
    padding: 0;


}


.selamat {
    width: 100%;
    color: #FEFECC;
    padding: 4em 0 2em;
    background-image: url(img/bd2.png);
    background-size: 150%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: 0px;
}

.selamat ul li p {

    padding: .5em;
    background: #FEFECC;
    background-attachment: fixed;
    background: transparent 30%;
}




.tentang {
    width: 100%;
    background: #ffffff;
    color: #02475E;
    padding: 4em 0 2em;
}

.tentang-konten {
    padding-left: 5em;
    text-align: right;
}

.tentang ul li p {
    padding: 0 .5em;
    background: #FEFECC;
}

.p2 ul li p {
    text-align: left;
    box-shadow: -10px 10px 5px grey;
}







.perangkat {
    text-align: center;
    width: 100%;
    background: #687980;
    color: #02475E;
    padding: 4em 0 2em;
}

.perangkat-konten {
    color: #ffffff;
    text-align: left;

}

.p3 {
    background: #ffffff;
    padding: 0 1em;
    text-align: right;
}




.sejarah {
    width: 100%;
    background: #fefecc;
    padding: 4em 0 2em;
}

.sejarah-konten {
    color: #687980;
    text-align: left;
}

.sejarah ul li p {

    padding: 0 .5em;
    background: #FEFECC;
}

.p4 {
    text-align: justify;
}



.temukan {
    color: #FEFECC;
    width: 100%;
    text-align: left;

}

.temukan-konten {
    text-align: left;
}

.F {
    background: #687980;
    width: 100%;
}

.foot {

    text-align: left;
}


@media only screen and (min-width: 650px) {

    h1 {
        font-size: 3em;
        margin: 0;
    }

    h3 {
        font-size: 1.4em;
    }

    .menu {
        margin-left: -350%
    }

    .homebtn {
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: .9em;

    }



    .p1,
    .p2,
    .p3,
    .p4,
    .p5 {
        margin: 0;
        margin-left: 5%;
        margin-right: 5%;
    }

    .p1 {
        margin-bottom: 40%;
    }


    .tentang {
        margin: 0;
        margin-right: 10%;
    }

    .tentang ul {
        display: flex;
        align-items: center;
    }

    .tentang ul li {
        margin: 0;
    }

    .tentang ul li p {
        padding: 0 .8em;
    }

    .perangkat-konten {

        margin-left: 18%
    }
}